[user]
    name = x
    email = x@x

[alias]
	st = status
    ci = commit
    co = checkout
    push = push --tags
    br = branch
	brdiff = log --left-right --graph --cherry-pick --oneline
    branches = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

[push]
	default = simple
